<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.dao.TopicMapper">
	<!-- testInsert -->
	<insert id="insertTopic" parameterType="com.news.model.Topic">
		insert into
		topic(topic_id,topic_name) values (#{topic_id},#{topic_name})
	</insert>
	<!-- 获取所有的新闻种类 -->
	<select id="getTopicList" resultType="com.news.model.Topic">
		select * from
		topic
	</select>
</mapper>